.packaging {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    background-color: #4c3423;  
    align-items: center;
    width: 100%;
}

.itemList {
    display: flex;
    flex-wrap: wrap;  /* Allow items to wrap to new lines */
    justify-content: space-around;
    width: 100%;
    gap: 10px;  /* Adds spacing between items */

}


.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4c3423;
    color: white;
    padding: 10px;
    gap: px;
    width: 45%;  /* Ensure items take up less width so they fit side by side */
    margin-bottom: 10px;  /* Add space between rows */
    box-sizing: border-box;
}

/* Mobile responsiveness: Adjusts the item width on smaller screens */
@media (max-width: 600px) {
    .item {
      width: 100%;  /* Take full width on smaller screens */
      height: auto;
    }
  }