/* Mobile View */
@media (max-width: 600px) {
  .logo {
    flex-direction: column;
  }

  .itemList {
    flex-direction: column;
  }

  .form {
    flex-direction: column;
    gap: 10px;
  }

  .item {
    justify-content: space-between;
    align-items: center;
  }

  .stats {
    padding: 10px;
    font-size: 14px;
  }
}

/* Tablet View */
@media (min-width: 601px) and (max-width: 1024px) {
  .logo {
    flex-direction: row;
    justify-content: space-between;
  }

  .itemList {
    flex-wrap: wrap;
  }

  .item {
    justify-content: space-around;
  }
}
